@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: lofi --default, lofi --prefersdark;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a,
button,
.card {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}