---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Posts from "../../components/Posts.astro";
import Categories from "../../components/Categories.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("products");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags ?? []).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title="">
  <Categories activeCategory={tag} />
  
  <div class="w-full px-4 lg:px-8 pb-4">
    <h2 class="text-xl lg:text-2xl font-bold tracking-tight mb-4 capitalize">
      {tag} Products
    </h2>
  </div>
  
  <Posts
    posts={posts.map((post) => ({
      id: post.id,
      slug: post.id,
      data: {
        title: post.data.title,
        images: post.data.images,
        description: post.data.description,
        created_at: post.data.created_at,
        price: post.data.price,
        tags: post.data.tags,
      },
    }))}
  />
</BaseLayout>

